*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.title {
    background: #00518C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: white;
    padding: 6px;
}

.atencion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.medicina{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.cel {
    width: 15px;
    heigth: 15px;
}

.number {
  color: #9ECC50;
}


.logo {
    width: 140px;
    heigth: 140px;
}

.navbar{
    background: rgb(22, 46, 79);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px 12px 160px;
    position: sticky;
    top: 0;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: white; 
    font-size: 15px;
    font-weight: 500;
}

/* Header */

header{
    padding: 40px 230px 30px 230px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header_title{
    color: #69B961;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 25px;
}

.header_title_text{
    color: #888787;
    font-size: 18px
}

.h3_title {
    width: 20px
}

.consultorios {
    margin-top: 50px;
    width: 100%;
    background: #F8F8F8;
    padding: 50px 20% 90px 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.consult {
   display: flex;
   flex-direction: column;
   gap: 7px;
   margin-top: 60px;
}

.consul_titles{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.consultorios_text {
    color: #888787;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.text_2{
    color: #69B961;
    font-size: 18px;
}

.pseudobox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 30px 0px 30px;
}

.pseudo_button {
    width: 254px;
    heigth: 54px;
    text-align: center;
    padding:5px 25px 5px 25px;
    background: #69B961;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.pseudotext {
    font-size: 11px;
    color: #888787;
    margin-left: 12%;
}

.header_img{
    max-width: 287px;
    max-heigth: 336px
}

.navigate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #1C519C;
}

.buttons {
   display: flex;
   flex-direction: row;
   gap: 40px
}

.b1 {
   min-width: 23%;
   text: center;
   padding: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-weight: bold;
   background: #1C519C;
}

.b2 {
   min-width: 23%;
   text: center;
   padding: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-weight: bold;
   background: #69B961;
}

   
.b3 {
   min-width: 23%;
   text: center;
   padding: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-weight: bold;
   background: #ED8B4A;
}

.b4 {
   min-width: 23%;
   text: center;
   padding: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-weight: bold;
   background: #7B71C9;
}

/*  Section */

.div-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #1C519C;
}

section {
    padding: 40px 20% 30px 20%;
    gap: 20x;
}

.img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.imagen1 {
    width: 600px;
}

.title-text{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

h1 {
   font-size: 23.4px;
   color: #69B961;
}

h2 {
    font-size: 22.5px;
    color: #69B961; 
}

.note-text {
    font-size: 18px;
    color: #888787;
}

.ul2{
    margin-left: 2%;
    font-size: 18px;
    color: #888787;
}

footer{
    display: flex;
    flex-direction: column;
}

.top-footer{
    background: #00518C;
    padding: 30px 10% 17px 10%;
    display: flex;
    flex-direction: row;
    gap: 13%

}

.footer-cols{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.footer-title {
    font-size: 13.2px;
    font-weight: bold;
    color: white;
}

.footer-text {
    font-size: 11.2px;
    font-weight: normal;
    color: white;
}

.hr {
   width: 100%;
}

.footer-col4{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 300px;
}

.socialmedia {
    width: 100px;
    heigth: 100px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #9ecc50;
    color: white;
    font-size: 13px;
}